{% extends "base.html" %}
{% load static %}



{% block title %}
    My Portfolio
{% endblock %}

{% block content %}

        <!--////////////////NAV BAR/////////////////////////////-->
		{% include "home_navbar.html" %}
   
    <!--////////////////END NAV BAR/////////////////////////////-->

     <!--////////////////START INTRO SECTION/////////////////////////////-->
	 {% if user.is_authenticated %}
	 

<section id="intro" class="intro-section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 intros"></div>
      <div class="col-md-6 intros"> </div>
    </div>

  </div>

</section>
{% else %}

{% endif %}








     <!--////////////////END INTRO SECTION/////////////////////////////-->
	

{% endblock %}
